html, body {
    margin: 0;
    padding: 0;
}

.hero-contactsection-header, .hero-contactsection-body {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.hero-contactsection-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2ebe9;
    padding: 10px 10px;
    min-height: 70px;
}
.hero-contactsection-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eddcd9;
    padding: 10px 10px;
    margin: 10px auto;
    gap: 30px;
}
.contactus-box {
    text-align: center;
}
.contactus-box h2 {
    display: inline-block;
    background-color: #82bfb7;
    padding: 5px 50px;
    margin: 5px auto;
    border-radius: 50px;
}
.contactus-box p {
    margin: 5px auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}
label {
    display: block;
    text-align: left;
    margin-top: 0 ;
    margin-bottom: 5px
}
.message-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 200px;      /* adjust freely */
    padding-right: 30px;
    border-radius: 20px;
    border: 1px solid #ccc;
    resize: none;
}
.submit-button {
    display: block;
    margin-left: auto;
    cursor: pointer;
    font-size: 1em;
    background-color: #82bfb7;
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
}
.contact-content h2 {
    background-color: #82bfb7;
    display: inline-block;
    padding: 5px  10px;
    border-radius: 50px;
    margin: 0;
}
.contact-content button {
    margin: 0;
    background-color: #82bfb7;
    color:white;
    font-size: 1em;
    display: block;
    margin-left: auto;
    padding: 5px 10px;
}

@media (max-width:768px) {
    .message-box {
        width: 80%;
        padding-top: 10px;
        padding-bottom: 200px;      /* adjust freely */
        padding-right: 30px;
        border-radius: 20px;
        border: 1px solid #ccc;
        resize: none;
}
}