html, body {
    margin: 0;
    padding: 0;
}

/* --- GLOBAL  --- */
a {
    text-decoration: none;
}


body {
    font-family: 'Playfair Display', serif; 
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'Merriweather', serif; 
    margin-bottom: 0.5em;
}

.main-nav {
    display: flex;
    justify-content: center;    
    align-items: center;        
    gap: 50px;                 
    padding: 10px 20px;
    flex-wrap: nowrap;          
}

/* --- NAVIGATION  --- */
.nav-row {
    display: flex;
    align-items: center;
    gap: 30px;                  
    flex-wrap: nowrap;          
}

/* LOGO */
.logo-button img {
    height: 100px;
    width: auto;
    border-radius: 50px;
}
.logo-button img:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

/* BUTTONS */
button {
    padding: 25px 30px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    background: #d6b9b3;
    cursor: pointer;
}
button:hover {
    background-color:#82bfb7;
    transition: 0.3s;
    transform: scale(1.1);
}

/* SEARCH BAR */
.search-bar form {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
}

.search-bar img {
    height: 22px;
}

.search-bar input {
    padding: 6px 10px;
    font-size: 15px;
    width: 100%;
    border: none;
    outline: none;
}

/* ICONS */
.icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icons img {
    height: 70px;
    border: solid #82bfb7 2px;
    border-radius: 50%;
    cursor: pointer;
}

/* MODAL SECTION */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: 410px;
    z-index: 1000;
}
.modal:target {
    display: flex;
}
.modal-content-login {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
/* USER MODAL */
    .logo-img {
    height: 100px;
    border-radius: 50px;

}
.modal-content-login p {
    color: rgb(77, 71, 77);
}
.modal-content-login u {
    color: purple;
}
.modal-content-login u:hover {
    color:blue;
    cursor: pointer;
}
.modal-content-login button {
    text-align: center;
}

/* CART MODAL */
.modal-content-cart {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-content-cart .yourcart {
    margin-top: 3px;
    background: rgb(218, 214, 214);
}
.cart-items {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}
.cart-items div.item {
    display: flex;
    justify-content: center;          
    align-items: center;
    gap: 60px;  
              
}
.cart-items img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}
.cart-items h2 {
    font-size: 18px;        
    font-weight: bold;  
    margin: 0;              
    color: #82bfb7;           
}
.cart-items .item:hover {
    transition: 0.3s;
    background: #eeeaea;
}
.cart-button button {
    text-align: center;
}
.close {
    float: right;
    text-decoration: none;
    color: #555;
    font-size: 30px;
}

/* HERO SECTION */
.hero-section-body,
.hero-section-header {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.hero-section-header {
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center;
    background: #f2ebe9; 
    min-height: 300px;         
}

.hero-header h1 {
    font-size: clamp(2rem, 5vw, 3rem); /* scales with screen */
    color: #82bfb7;
}

.hero-header blockquote {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    white-space: nowrap;
    margin: 0 auto;
}

.hero-section-body {
    display: flex;
    justify-content: center;  
    align-items: center;       
    text-align: center;
    background: #eddcd9;
    min-height: 300px;         
    margin: 10px auto;    
}
.feature-h2 h2 {
    margin: 0;              
    font-size: 24px;       
}
.feature-h2 {
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 50px;
    background: #82bfb7;
    display: inline-block;

}
.featured-images {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;    
}
.feature-img {
    flex: 1 1 200px;
    max-width: 250px;
}
.featured-images img {
    width: 80%;
    height: 300px;      
    object-fit: cover;   
    border-radius: 10px;
}
.feature-img button {
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
}
.shopnow-button {
    background: #82bfb7;
}

/* FOOTER SECTION */


.footer-section-bg {
    display: flex;
    justify-content: center;
    align-items: center;         
    text-align: center;          
    gap: 60px;                   
    padding: 20px 0;             
    background-color: #53847e;   
    flex-wrap: wrap;             
}
.footer-section-bg h3,
.footer-section-bg li, .footer-section-bg a {
    color: white;
    margin: 0;
    text-decoration: none;
    
}
.footer-horizontal {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 0;
    margin: 0;
}
.footer-vertical {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;     
    padding: 0;
    margin: 0;      
}
.footer-icons {
    display: flex;
    gap: 15px;
    justify-content: center;     
    align-items: center;
}

.footer-icons img {
    height: 30px;
    width: auto;
}

.footer-section-bg h3 a:hover, .footer-vertical li a:hover {
    color: #f3b7a8;
}
.footer-icons img:hover {
    transition: 0.3s;
    transform: scale(1.3);
}







