header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* TITLE LOGO */
.logo-button img {
    height: 90px;
    width: auto;
    border-radius: 50px;
}
.logo-button img:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

/* BUTTONS */
button {
    height: 80px;
    width: 150px;
    border-radius: 50px;
    border: none;
    background: #c2a59f;
    cursor: pointer;
    font-size: 20px;
}
button:hover {
    background-color:#82bfb7;
    transition: 0.3s;
    transform: scale(1.1);
}

/* SEARCH BAR */
.search-bar form {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 600px;
  background: white;
}
    .search-bar form img {
    height: 25px;
    margin-right: 5px; /* small space between icon and text */
    }
    .search-bar form input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    }
    .search-bar:hover {
        transition: 0.3s;
        transform: scale(1.03);
    }

/* ICONS */
.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
    .icons img {
        width: 80px;
        height:80px;
        border: solid #82bfb7 3px;
        border-radius: 100px;
        cursor: pointer;
    }
    .icons img:hover {
        transition: 0.3s;
        transform: scale(1.1);
    }


/* MODALS */

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
    padding-left: 410px;
    z-index: 1000;
}
.modal:target {
    display: flex;
}
.modal-content-login {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
    /* USER MODAL */
        .logo-img {
            height: 100px;
            border-radius: 50px;

        }
        .modal-content-login p {
            color: rgb(77, 71, 77);
        }
        .modal-content-login u {
            color: purple;
        }
        .modal-content-login u:hover {
            color:blue;
            cursor: pointer;
        }
        .modal-content-login button {
            height: 50px;
        }

    /* CART MODAL */
    .modal-content-cart {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        text-align: center;
    }
        .modal-content-cart .yourcart {
            margin-top: 3px;
            background: rgb(218, 214, 214);
        }

        .cart-items {
            display: flex;
            flex-direction: column; 
            gap: 15px; 
        }

        .cart-items div.item {
            display: flex;          
            align-items: center;
            gap: 80px;            
        }

        .cart-items img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 8px;
        }

        .cart-items h2 {
            font-size: 18px;        
            font-weight: bold;    
            margin: 0;              
            color: #82bfb7;           
        }

        .cart-items .item:hover {
            transition: 0.3s;
            background: #eeeaea;
        }

        .cart-button {
            height: 40px    
        }
.close {
    float: right;
    text-decoration: none;
    color: #555;
    font-size: 30px;
}


/* HERO SECTION */

.hero-section-header {      /* HERO HEADER */
    background-color: #f2ebe9;
    text-align: center;
    margin: 10px auto;
    height: 180px;
    width: 1600px;
    display: flex;            
    justify-content: center;   
    align-items: center; 
    z-index: 1;        
}
    .hero-header {
        display: flex;
        flex-direction: column;   
        align-items: center;
        position: relative;         
        top: -20px;  
    }               
    .hero-header h1 {
        font-size: 2.5rem; 
        color: #82bfb7;
        font-weight: bold;
        margin-top: -1px;
    }
    .hero-header blockquote {
        line-height: 25px;
        margin: -25px;
    }

.hero-section-body {    /* HERO BODY */
    display: flex;
    background-color: #eddcd9;
    margin: 10px auto;
    height: 700px;
    width: 1600px;
    display: flex;            
    justify-content: center;  
    text-align: center; 


}
    .hero-body {
        display: flex;
        flex-direction: column; 
        align-items: center
    }
    .feature-collections {
        background-color: #82bfb7;
        font-weight: normal;
        height: 50px;
        width: 280px;
        border-radius: 50px;
        display: flex;            
        justify-content: center;   
        align-items: center; 
        margin-bottom: 20px; 
    }
    .featured-images {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .feature-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease

    }
    .feature-img img {
        height: 400px;
        width: 300px;
        margin-bottom: 10px;
        transition: transform 0.3s ease
    }
    .feature-img button {
        height: 40px;
        width: 150px;
        border-radius: 50px;
        border: none;
        background-color: #d6b9b3;
        cursor: pointer;
        transition: transform 0.3s ease
    }
    .feature-img:hover img,
    .feature-img:hover button {
        transform: scale(1.03); 
    }
    .shopnow-button {
            background: #82bfb7;
            height: 50px;
            font-weight: normal;
            margin-top: 50px;
    }

/* FOOTER */
.footer-section-bg {
    background-color: #53847e;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: white;
}
    .footer-horizontal {
        display: flex;
        align-items: flex-end;
        gap: 200px;
        list-style-type: none;
    }
    .footer-vertical {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-type: none;
    }
    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;    
        gap: 20px;
    }
    .footer-icons img {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    .footer-section-bg h3:hover, 
    .footer-horizontal :hover,
    .footer-vertical :hover {
        color: #e084ba;
        cursor: pointer;
    }




